Repository boostcampwm2023/and05-funbox, pull requests merged in 2023-12, with the labels that each got.

#132 [feat] 로그인 및 지도 연동
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/JWTInterceptor.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/JwtDecoder.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/OkHttpClientInstance.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserAuthDto.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoRequest.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoResponse.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserLocation.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UsersLocationResponse.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/network/service/SignUpApi.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/network/service/UsersLocationApi.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/NaverLoginRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UsersLocationRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UsersLocationRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/CheckPermission.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/profile/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/splash/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/splash/SplashViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/title/TitleFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/title/TitleViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/res/layout/fragment_profile.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔥Feature

#133 Feature refactor
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/JWTInterceptor.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserAuthDto.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoRequest.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoResponse.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/title/TitleViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapProfileAdapter.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MessageDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SetNameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SetProfileDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingBindingAdapter.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingViewModel.kt
  Android/FunBox/app/src/main/res/layout/dialog_get_game.xml
  Android/FunBox/app/src/main/res/layout/dialog_message.xml
  Android/FunBox/app/src/main/res/layout/dialog_positive.xml
  Android/FunBox/app/src/main/res/layout/dialog_profile_change.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/fragment_setting.xml
  Android/FunBox/app/src/main/res/navigation/game_nav_graph.xml
  Android/FunBox/build.gradle.kts
Labels: 💚Android, 🔧Fix, 🔥Feature, Refactoring

#135 [feat] 소켓 질문 게임 응답 구현
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/BaseFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GameData.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/SocketApplication.kt
Labels: 💚Android, 🔥Feature

#136 [feat] 환경 설정에서 반영된 내용을 서버에 전송
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/profile/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SetNameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SetProfileDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingBindingAdapter.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingViewModel.kt
  Android/FunBox/app/src/main/res/layout/dialog_positive.xml
  Android/FunBox/app/src/main/res/layout/dialog_profile_change.xml
  Android/FunBox/app/src/main/res/layout/fragment_setting.xml
  Android/FunBox/app/src/main/res/layout/menu_header.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
  Android/FunBox/build.gradle.kts
  Android/FunBox/gradle.properties
  Android/FunBox/gradlew
Labels: 💚Android, 🔥Feature

#137 Featuer game socket
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/ic_funbox-playstore.png
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoRequest.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoResponse.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/network/service/UserInfoApi.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MapSocket.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/GameActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/AnswerCheckFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/NetworkAlertFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizUiState.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/ScoreBoardFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitUiState.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/splash/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GameData.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/SocketApplication.kt
  Android/FunBox/app/src/main/res/layout/activity_game.xml
  Android/FunBox/app/src/main/res/layout/fragment_answer_check.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/fragment_network_alert.xml
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
  Android/FunBox/app/src/main/res/layout/fragment_score_board.xml
  Android/FunBox/app/src/main/res/layout/fragment_wait.xml
  Android/FunBox/app/src/main/res/mipmap-anydpi-v26/ic_funbox.xml
  Android/FunBox/app/src/main/res/mipmap-anydpi-v26/ic_funbox_round.xml
  Android/FunBox/app/src/main/res/mipmap-hdpi/ic_funbox.webp
  Android/FunBox/app/src/main/res/mipmap-hdpi/ic_funbox_foreground.webp
  Android/FunBox/app/src/main/res/mipmap-hdpi/ic_funbox_round.webp
  Android/FunBox/app/src/main/res/mipmap-mdpi/ic_funbox.webp
  Android/FunBox/app/src/main/res/mipmap-mdpi/ic_funbox_foreground.webp
  Android/FunBox/app/src/main/res/mipmap-mdpi/ic_funbox_round.webp
  Android/FunBox/app/src/main/res/mipmap-xhdpi/ic_funbox.webp
  Android/FunBox/app/src/main/res/mipmap-xhdpi/ic_funbox_foreground.webp
  Android/FunBox/app/src/main/res/mipmap-xhdpi/ic_funbox_round.webp
  Android/FunBox/app/src/main/res/mipmap-xxhdpi/ic_funbox.webp
  Android/FunBox/app/src/main/res/mipmap-xxhdpi/ic_funbox_foreground.webp
  Android/FunBox/app/src/main/res/mipmap-xxhdpi/ic_funbox_round.webp
  Android/FunBox/app/src/main/res/mipmap-xxxhdpi/ic_funbox.webp
  Android/FunBox/app/src/main/res/mipmap-xxxhdpi/ic_funbox_foreground.webp
  Android/FunBox/app/src/main/res/mipmap-xxxhdpi/ic_funbox_round.webp
  Android/FunBox/app/src/main/res/values/ic_funbox_background.xml
Labels: 💚Android, 🔥Feature

#142 [feat] 데모 시나리오대로 진행하기 위한 버그 수정
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserInfoRequest.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/network/service/UserInfoApi.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/UserRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/BaseFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MapSocket.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/GameActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/profile/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GameData.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapProfileAdapter.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MessageDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SetProfileDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingBindingAdapter.kt
  Android/FunBox/app/src/main/res/layout/dialog_get_game.xml
  Android/FunBox/app/src/main/res/layout/dialog_message.xml
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
  Android/FunBox/app/src/main/res/layout/fragment_score_board.xml
  Android/FunBox/app/src/main/res/layout/fragment_wait.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/layout/menu_header.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔧Fix, 🔥Feature

#141 [feat] 게임 종료 로직 구현
  BackEnd/funbox/src/socket/room.ts
  BackEnd/funbox/src/socket/socket.gateway.ts
  BackEnd/funbox/src/socket/socket.service.ts
Labels: 💛BackEnd, 🔥Feature

#149 socket 기능 추가 및 리팩터링
  BackEnd/funbox/src/socket/dto/game-room.dto.ts
  BackEnd/funbox/src/socket/game.service.ts
  BackEnd/funbox/src/socket/room.ts
  BackEnd/funbox/src/socket/socket.gateway.ts
  BackEnd/funbox/src/socket/socket.module.ts
  BackEnd/funbox/src/socket/socket.service.ts
Labels: 💛BackEnd, 🔥Feature

#150 [fix] 유저 탈퇴 한 후 재로그인 시 500 에러 뜨던 것 수정
  BackEnd/funbox/src/auth/jwt.strategy.ts
Labels: 💛BackEnd, 🔧Fix

#152 [feat] 화면 전환 애니메이션, 게임 화면에 상대 위치 표시 기능 구현
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/ActivityExtension.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/CheckPermission.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/CustomNaverMap.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/GameActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/AnswerCheckFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/NetworkAlertFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/ScoreBoardFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/splash/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/WithdrawalDialog.kt
  Android/FunBox/app/src/main/res/anim/fade_in.xml
  Android/FunBox/app/src/main/res/anim/fade_out.xml
  Android/FunBox/app/src/main/res/anim/slide_left_enter.xml
  Android/FunBox/app/src/main/res/anim/slide_left_exit.xml
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
  Android/FunBox/app/src/main/res/layout/fragment_wait.xml
  Android/FunBox/app/src/main/res/navigation/game_nav_graph.xml
Labels: 💚Android, 🔧Fix, 🔥Feature, Refactoring

#153 [feat] 메인화면 지도 깜빡임 해결과 info window도 같이 이동 구현
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/AccessPermission.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
Labels: 💚Android, 🔧Fix, 🔥Feature, Refactoring

#154 [refactor] 코드 동기화 후 오류 수정
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingFragment.kt
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
  Android/FunBox/app/src/main/res/layout/fragment_score_board.xml
  Android/FunBox/app/src/main/res/layout/fragment_wait.xml
Labels: 💚Android, Refactoring

#157 [feat] 유저 주변 원, 핀 색 변경, 카메라 고정 해제, 사이드 메뉴 버튼 변경
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/res/drawable/navigate_next_24.xml
  Android/FunBox/app/src/main/res/layout/activity_main.xml
  Android/FunBox/app/src/main/res/values/colors.xml
Labels: 💚Android, 🔥Feature

#156 [feature] 근처 유저 탐색 알고리즘 구현
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
Labels: 💛BackEnd, 🔥Feature

#159 [Feat] 채팅기능 오류 해결 및 스크롤 기능 추가
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/res/layout/dialog_message.xml
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
Labels: 💚Android, 🔧Fix, 🔥Feature

#162 [fix] 게임 로직 피드백 반영
  BackEnd/funbox/src/socket/enum/game-apply-answer.enum.ts
  BackEnd/funbox/src/socket/game.service.ts
  BackEnd/funbox/src/socket/socket.service.ts
Labels: 💛BackEnd, 🔧Fix

#163 [Fix] 여러 오류 처리
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserDetail.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MapSocket.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/wait/WaitFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GameData.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MessageDialog.kt
Labels: 💚Android, 🔧Fix, 🔥Feature

#168 핀, 정보창 갱신 버그
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
Labels: 💚Android, 🔧Fix
