Repository boostcampwm2023/and05-funbox, pull requests merged in 2023-11, with the labels that each got.

#32 feat: 환경설정 UI 구성
  Android/FunBox/.idea/gradle.xml
  Android/FunBox/.idea/misc.xml
  Android/FunBox/app/src/main/res/drawable/baseline_arrow_back_24.xml
  Android/FunBox/app/src/main/res/drawable/bg_dialog_rectangle.xml
  Android/FunBox/app/src/main/res/drawable/bg_green_rectangle.xml
  Android/FunBox/app/src/main/res/drawable/bg_input_text.xml
  Android/FunBox/app/src/main/res/drawable/bg_red_rectangle.xml
  Android/FunBox/app/src/main/res/drawable/profile_add.png
  Android/FunBox/app/src/main/res/drawable/profile_none.png
  Android/FunBox/app/src/main/res/layout/dialog_positive.xml
  Android/FunBox/app/src/main/res/layout/dialog_profile_change.xml
  Android/FunBox/app/src/main/res/layout/dialog_red.xml
  Android/FunBox/app/src/main/res/layout/fragment_setting.xml
Labels: 💚Android, 🔥Feature

#34 feat: 메인 페이지 UI
  Android/FunBox/.idea/deploymentTargetDropDown.xml
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/res/drawable/my_location.png
  Android/FunBox/app/src/main/res/drawable/other_location.png
  Android/FunBox/app/src/main/res/drawable/settings.png
  Android/FunBox/app/src/main/res/layout/activity_main.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/navigation/navi_graph.xml
  Android/FunBox/settings.gradle.kts
Labels: 💚Android, 🔥Feature

#35 feat: 닉네임 및 프로필 UI 구현
  Android/FunBox/.gitignore
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/example/funbox/BaseFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/NicknameBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/example/funbox/NicknameFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/NicknameUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/NicknameUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/NicknameViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/ProfileUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/ProfileUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/ProfileViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/TitleActivity.kt
  Android/FunBox/app/src/main/res/drawable/fail_button.xml
  Android/FunBox/app/src/main/res/layout/activity_title.xml
  Android/FunBox/app/src/main/res/layout/fragment_nickname.xml
  Android/FunBox/app/src/main/res/layout/fragment_profile.xml
  Android/FunBox/app/src/main/res/layout/fragment_title.xml
  Android/FunBox/app/src/main/res/navigation/title_nav_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
  Android/FunBox/build.gradle.kts
Labels: 💚Android, 🔧Fix, 🔥Feature

#37 feat: 메시지 입력
  .gitignore
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/example/funbox/MainActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/MessageDialog.kt
  Android/FunBox/app/src/main/res/drawable/add_24.xml
  Android/FunBox/app/src/main/res/drawable/close_24.xml
  Android/FunBox/app/src/main/res/drawable/settings.png
  Android/FunBox/app/src/main/res/drawable/settings_24.xml
  Android/FunBox/app/src/main/res/drawable/write_24.xml
  Android/FunBox/app/src/main/res/layout/dialog_message.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/navigation/navi_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔥Feature

#54 feat: 네이버 로그인 토큰 가져오기
  Android/FunBox/.idea/misc.xml
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/NicknameBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/TitleFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/nickname/NicknameFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/nickname/NicknameUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/nickname/NicknameUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/nickname/NicknameViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/res/layout/fragment_nickname.xml
  Android/FunBox/app/src/main/res/layout/fragment_profile.xml
  Android/FunBox/app/src/main/res/layout/fragment_title.xml
  Android/FunBox/app/src/main/res/navigation/title_nav_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔥Feature

#55 5초마다 자신의 x,y 값 불러오기 기능 구현
  Android/FunBox/.idea/deploymentTargetDropDown.xml
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapViewModel.kt
Labels: 💚Android, 🔥Feature

#56 x,y 정보 백엔드 API 전송 기능 구현
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/example/funbox/data/network/service/LoadUserService.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
Labels: 💚Android

#57 맵 프로필 띄우기
  Android/FunBox/.idea/misc.xml
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/example/funbox/data/User.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/UserDetail.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/network/service/LoadUserService.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/res/layout/activity_main.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
Labels: 💚Android, 🔧Fix, 🔥Feature

#66 [feat] typeORM으로 create 메소드 구현(테스트)
  BackEnd/funbox/.gitignore
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/app.module.ts
  BackEnd/funbox/src/configs/typeorm.config.ts
  BackEnd/funbox/src/users/user.entity.ts
  BackEnd/funbox/src/users/user.model.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
Labels: 💛BackEnd, 🔥Feature

#81 refactor: 1주차 코드 리팩토링
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/example/funbox/data/RetrofitInstance.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/dto/UserDetail.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/network/service/LoadUserService.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/repository/UserRepository.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/repository/UserRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/AccessPermission.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/SplashActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/TitleActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/nickname/NicknameUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/profile/ProfileViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/login/title/TitleUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/res/layout/fragment_profile.xml
Labels: 💚Android, Refactoring

#83 [feat] 단일 유저 조회 API, 유저 메시지 수정 API
  BackEnd/funbox/src/users/dto/user-response.dto.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
Labels: 💛BackEnd, 🔥Feature

#82 [fix] TypeORM Entity 수정, [feat] post 요청 api 구현
  BackEnd/funbox/src/users/dto/near-users.dto.ts
  BackEnd/funbox/src/users/user.entity.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
  test.js
Labels: 💛BackEnd, 🔧Fix, 🔥Feature

#92 [feat] 매칭 대기 화면 UI 추가
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/wait/WaitBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/wait/WaitFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/wait/WaitUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/wait/WaitUiState.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/wait/WaitViewModel.kt
  Android/FunBox/app/src/main/res/drawable/profile_game.xml
  Android/FunBox/app/src/main/res/drawable/rounded_corner_rect_shadow.xml
  Android/FunBox/app/src/main/res/drawable/wait_background.xml
  Android/FunBox/app/src/main/res/layout/fragment_wait.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔥Feature

#96 Swagger 사용을 위한 초기 세팅 및 유저 모듈에 적용
  BackEnd/funbox/.gitignore
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/configs/swagger.config.ts
  BackEnd/funbox/src/main.ts
  BackEnd/funbox/src/users/dto/near-users.dto.ts
  BackEnd/funbox/src/users/dto/user-location.dto.ts
  BackEnd/funbox/src/users/dto/user-response.dto.ts
  BackEnd/funbox/src/users/user.entity.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
Labels: Enhancement, 💛BackEnd

#98 [feat] 카드 게임에서 출력되는 Dialog UI 구성
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/BaseDialogFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/AnswerCheckFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/NetworkAlertFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/QuizUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/QuizViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/game/quiz/ScoreBoardFragment.kt
  Android/FunBox/app/src/main/res/layout/fragment_answer_check.xml
  Android/FunBox/app/src/main/res/layout/fragment_network_alert.xml
  Android/FunBox/app/src/main/res/layout/fragment_score_board.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: 💚Android, 🔥Feature

#97 게임 관련 맵 화면
  Android/FunBox/app/src/main/java/com/example/funbox/data/dto/User.kt
  Android/FunBox/app/src/main/java/com/example/funbox/data/dto/UserDetail.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/GetGameDialog.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapProfile.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapProfileAdapter.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/java/com/example/funbox/presentation/map/MessageDialog.kt
  Android/FunBox/app/src/main/res/layout/dialog_get_game.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
Labels: 💚Android, 🔥Feature, Refactoring

#102 Auth 모듈 구현
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/app.module.ts
  BackEnd/funbox/src/auth/auth.controller.ts
  BackEnd/funbox/src/auth/auth.module.ts
  BackEnd/funbox/src/auth/auth.service.ts
  BackEnd/funbox/src/auth/dto/user-auth.dto.ts
  BackEnd/funbox/src/auth/jwt.strategy.ts
  BackEnd/funbox/src/users/dto/near-users.dto.ts
  BackEnd/funbox/src/users/user.entity.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.module.ts
  BackEnd/funbox/src/users/users.service.ts
  test.js
Labels: 💛BackEnd, 🔥Feature

#103 [Feature] to setting
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/map_profile.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
Labels: 💚Android, 🔧Fix, 🔥Feature

#104 [feat] SharedPreferences 추가
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/app/MainApplication.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/app/MySharedPreferences.kt
Labels: 💚Android, 🔥Feature

#105 [Feat] 현재위치 오버레이 구현
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/gradle/wrapper/gradle-wrapper.jar
  Android/FunBox/app/gradle/wrapper/gradle-wrapper.properties
  Android/FunBox/app/gradlew
  Android/FunBox/app/gradlew.bat
  Android/FunBox/app/proguard-rules.pro
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapProfile.kt
Labels: 💚Android, 🔥Feature

#112 [feat] 로그인 API 관련 코드 추가
  Android/FunBox/app/src/main/AndroidManifest.xml
  Android/FunBox/app/src/main/java/com/rpg/funbox/app/MainApplication.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/app/MySharedPreferences.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/JwtDecoder.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/NaverAccessTokenResponse.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/dto/UserAuthDto.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/network/service/NaverLoginApi.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/NaverLoginRepository.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/repository/NaverLoginRepositoryImpl.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/NaverOAuthLoginCallback.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/login/NaverProfileCallback.kt
Labels: 💚Android, 🔧Fix, 🔥Feature

#119 Profile 사진 등록/삭제 기능 구현
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/auth/auth.controller.ts
  BackEnd/funbox/src/auth/jwt.strategy.ts
  BackEnd/funbox/src/users/users.controller.ts
  BackEnd/funbox/src/users/users.service.ts
  BackEnd/funbox/test/test.png
  BackEnd/funbox/test/test_apis.js
  BackEnd/funbox/test/test_auth.js
  BackEnd/funbox/test/test_profile.js
  test.js
Labels: 💛BackEnd, 🔥Feature, Setting

#124 Feature game
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/app.module.ts
  BackEnd/funbox/src/auth/auth.module.ts
  BackEnd/funbox/src/configs/swagger.config.ts
  BackEnd/funbox/src/socket/dto/socket-user.dto.ts
  BackEnd/funbox/src/socket/dto/update-location.dto.ts
  BackEnd/funbox/src/socket/socket.gateway.ts
  BackEnd/funbox/src/socket/socket.module.ts
  BackEnd/funbox/src/socket/socket.service.ts
  BackEnd/funbox/src/users/dto/near-users.dto.ts
  BackEnd/funbox/src/users/users.module.ts
  BackEnd/funbox/src/users/users.service.ts
Labels: 💛BackEnd, 🔥Feature

#116 [Feat] 사용자 프로필사진 출력
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapProfile.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapProfileAdapter.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapViewModel.kt
Labels: 💚Android, 🔥Feature

#117 [refactor] 퀴즈 게임 역할을 하는 GameActivity 추가, 관심사 분리
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/GameActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizBindingAdapters.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/game/quiz/QuizUiState.kt
  Android/FunBox/app/src/main/res/layout/activity_game.xml
  Android/FunBox/app/src/main/res/layout/fragment_quiz.xml
  Android/FunBox/app/src/main/res/navigation/game_nav_graph.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
  Android/FunBox/app/src/main/res/values/strings.xml
Labels: Enhancement, 💚Android, 🔧Fix, Refactoring

#125 Feature side menu
  Android/FunBox/app/build.gradle.kts
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/MainActivity.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/map/MapFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingFragment.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingUiEvent.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/presentation/setting/SettingViewModel.kt
  Android/FunBox/app/src/main/res/drawable/autorenew_24.xml
  Android/FunBox/app/src/main/res/drawable/map_24.xml
  Android/FunBox/app/src/main/res/drawable/menu_24.xml
  Android/FunBox/app/src/main/res/drawable/navi_icon.png
  Android/FunBox/app/src/main/res/drawable/navigate_next_24.xml
  Android/FunBox/app/src/main/res/layout/activity_main.xml
  Android/FunBox/app/src/main/res/layout/fragment_map.xml
  Android/FunBox/app/src/main/res/layout/fragment_setting.xml
  Android/FunBox/app/src/main/res/layout/menu_header.xml
  Android/FunBox/app/src/main/res/menu/side_menu.xml
  Android/FunBox/app/src/main/res/navigation/main_navi_graph.xml
Labels: 💚Android, 🔥Feature

#126 [refactor] Retrofit과 OkHttpClient 분리
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/OkHttpClientInstance.kt
  Android/FunBox/app/src/main/java/com/rpg/funbox/data/RetrofitInstance.kt
Labels: 💚Android, Refactoring

#131 게임 로직 구현
  BackEnd/funbox/package-lock.json
  BackEnd/funbox/package.json
  BackEnd/funbox/src/socket/dto/update-location.dto.ts
  BackEnd/funbox/src/socket/enum/game-apply-answer.enum.ts
  BackEnd/funbox/src/socket/filters/ws-exception.filter.ts
  BackEnd/funbox/src/socket/pipes/answer-validation.pipe.ts
  BackEnd/funbox/src/socket/room.ts
  BackEnd/funbox/src/socket/socket.gateway.ts
  BackEnd/funbox/src/socket/socket.service.ts
Labels: 💛BackEnd, 🔥Feature
